.slick-slider {
    margin:0 0px;
  }
  
  .slick-slide  {
    padding:0px;
    text-align:center;
    padding-left: 0px;
    padding-right: 0px;
    /* margin-right:15px; */
    /* margin-left:15px; */
  }